<link rel='stylesheet' href='css/homepage.css' />
<link
  rel='stylesheet'
  href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css'
/>

<div class='menu'>
  <ul>
    <li class='profile'>
      <div class='img-box'>
        <img
          src='https://www.shutterstock.com/image-vector/blood-drop-icon-vector-illustration-600nw-642751702.jpg'
          alt='image'
        />
      </div>
      <h2>Blood Bank </h2>
    </li>
    <li>
      <a href='/dashboard'>
        <i class='fa-solid fa-gauge'></i>
        <p>User Dashboard</p>
      </a>
    </li>
    <li>
      <a href='/request-blood'>
        <i class='fa-solid fa-hand'></i>
        <p>Request Blood</p>
      </a>
    </li>
    <li>
      <a href='/donate-blood'>
        <i class='fas fa-table'></i>
        <p>Donate Blood</p>
      </a>
    </li>
    <li>
      <a href='/admin'>
        <i class='fa-solid fa-lock'></i>
        <p>Admin Console</p>
      </a>
    </li>

    <li class='log-out'>
      <a href='/logout'>
        <i class='fas fa-sign-out'></i>
        <p>Log Out</p>
      </a>
    </li>
  </ul>

</div>